@import "colors.css";

* {
    border: none;
    font-size: 20px;
    font-family: "JetBrainsMono Nerd Font" ;
    min-height: 25px;
}

window#waybar {
  background: transparent;
 }

#custom-logo {
/*	background: linear-gradient(135deg, #ffb7ce, #bbd0ff); 
	color: #ffffff;
	border-radius: 8px;
	padding: 0px 10px;
	font-weight: bold;
	margin-top: 4px;
	margin-bottom: 4px; */
	padding-left: 30px;
	padding-right: 20px;
	margin-right: 5px;
	color: @primary;

}



.modules-center {
  margin-top: 2px;
  padding: 0 15px;
  border-radius: 43px / 29px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  background: linear-gradient(#1c1c1c, #1c1c1c) padding-box,
              linear-gradient(135deg, @primary 40%, @tertiary 60%) border-box;
  /*box-shadow: 5px 0 0 0 @tertiary;
              -5px 0 0 0 @tertiary;*/
}

.modules-right {
  margin-right: 0;
  padding: 0 0 0 15px;
  margin-top: 2px;
  border-radius: 43px 0 0 43px / 29px 0 0 29px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 15px solid transparent;
  background: linear-gradient(#1c1c1c, #1c1c1c) padding-box,
              linear-gradient(315deg, transparent 20%, @secondary 80%) border-box;
  box-shadow: -5px 0 0 0 @tertiary,
              -15px 0 0 0 @tertiary;
}

.modules-left {
  margin-left: 0;
  padding: 0 15px 0 0;
  margin-top: 2px;
  border-radius: 0 43px 43px 0 / 0 29px 29px 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-right: 15px solid transparent;
  background: linear-gradient(#1c1c1c, #1c1c1c) padding-box,
              linear-gradient(135deg, transparent 20%, @secondary 80%) border-box;
  box-shadow: 5px 0 0 0 @tertiary,
              /*10px 0 0 0 @secondary,*/
              15px 0 0 0 @tertiary;
}



#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray {
	padding-left: 5px;
	padding-right: 15px;

}
#window,
#workspaces {
	
}
#workspaces button {
	color: grey;
	background: transparent;
}

#workspaces button.active {
/*	background: linear-gradient(135deg, #ffb7ce, #bbd0ff); */
	background: linear-gradient(135deg, @primary 30%, @tertiary 70%);
	color: #1c1c1c;
	min-width: 40px;
	border-radius: 20px;
	padding: 0px 10px;
	transition: all 0.3s ease-in-out;
	font-weight: bold;
	margin-top: 4px;
	margin-bottom: 4px;
}

#workspaces button:hover {
	color: white;
	background: transparent;

}

#clock {

  padding-left: 20px;
  padding-right: 20px;
  color: @secondary;
}
#pulseaudio {
  padding-top: 3px;
  color: @secondary;
  padding-left: 10px;
  padding-right: 10px;
}

#temperature.critical,
#pulseaudio.muted {
  color: grey;
  padding-top: 0;
}

#custom-wallpaper {
	margin-left:5px;
	margin-right:20px;
	color: @tertiary;
}



@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
